*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: black;
    
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(98, 176, 201);
    padding: 5vw;

}
#page3{
    height: 100%;
    width: 100%;
    background-color: black;

}
#page2 h1{
    font-size:40vw ;
    font-weight: 600;
    text-transform: uppercase;
}